<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yuxuan Li 李宇轩
              </h1>
              <p>I'm a second-year PhD student in the <a href="https://hcii.cmu.edu/">Human-Computer Interaction Institute (HCII)</a> within <a href="https://www.cmu.edu/">Carnegie Mellon University (CMU)</a>'s <a href="https://www.cs.cmu.edu/">School of Computer Science</a>, advised by <a href="https://www.shirado.net/">Hirokazu Shirado</a> and <a href="https://sauvikdas.com/">Sauvik Das</a>.
              </p>
              <p>
                Humans are increasingly yielding agency to machines such as LLMs in social contexts, giving rise to <b>social agents</b>. My research advances the study of social agents through three main directions:
                <ul style="padding-left: 0; margin-left: 20px;">
                  <li>Deploying social agents at scale for useful social simulations that inform real-world practice.
                  <br><a href="https://arxiv.org/abs/2509.21868">arXiv'25a</a></li>
                  <li>Using social agents as proxies to examine machine behavior.
                  <br><a href="https://arxiv.org/abs/2502.17720">EMNLP'25 Oral</a>, <a href="https://dl.acm.org/doi/full/10.1145/3715275.3732212">FAccT'25</a>, <a href="https://arxiv.org/abs/2505.11556">arXiv'25b</a></li>
                  <li>Understanding how social agents influence human behavior and how they can be used to shape it.</li>
                </ul>
              </p>
              <p>
                I hold a BS in Computer Science from <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>, advised by <a href="https://pi.cs.tsinghua.edu.cn/lab/people/ChunYu/">Chun Yu</a> and <a href="https://www.cs.tsinghua.edu.cn/csen/info/1306/4332.htm">Yuanchun Shi</a>. I was also a research intern at <a href="https://www.berkeley.edu/">UC Berkeley</a>, advised by <a href="https://people.ischool.berkeley.edu/~coye/">Coye Cheshire</a>.
              </p>
              <p style="text-align:center">
                <a href="mailto:yuxuanll@andrew.cmu.edu">Email</a> &nbsp;/&nbsp;
                <!-- <a href="https://github.com/Yassellee">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://scholar.google.com/citations?user=Z02PYwcAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/yuxuan-li-cmuhcii/">LinkedIn</a> &nbsp;/&nbsp;
                <a href="https://x.com/home">X</a> &nbsp;/&nbsp;
                <a href="https://bsky.app/profile/yuxuanli1225.bsky.social">Bluesky</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/avatar.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

